body {
	background: #fafafa;
	font-family: 'Lato';
}

.site-color {
	color: #E954B9;
}

.site-background {
	background: #E954B9;	
	color: #fafafa;
}

.btn-site {
	background: #E954B9;	
	color: #fafafa;
}

.btn-site:hover {
	color: #F6B5AD;
}

.margin-top {
	margin-top: 25px;
}

.flag {
	margin-right: 10px;
}

.site-link:hover {
	color: #E954B9;
	text-decoration: none !important;
}

.hover {
	background: #F3C9E6;
}

.table-hover tbody tr:hover td {
	background: #F3C9E6;	
}

.table-hover tbody tr:hover th {
	background: #E954B9;
}

.site-decoration:hover {
	text-decoration: underline;
}

.site-border {
	border-color: #E954B9;
}

.league-lookup {
	min-width: 100px;
}

.mode-0 {
	color: #C054E9;
}

.mode-1 {
	color: #5486E9;
}

.mode-2 {
	color: #E99954;
}

.mode-3 {
	color: #E9546B;
}